.access-record {
  border: 2px solid var(--text-color);
  margin: 0.5rem;
  background-color: var(--bg-color);
}

.record-header {
  background-color: var(--bg-accent-color);
  border-bottom: 1px solid var(--text-color);
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.9rem;
}

.quote-header {
  padding: 0.5rem;
  margin: 0;
}

.quote-text::before,
.quote-text::after {
  content: "\""
}
.quote-text {
  padding: 0.5rem;
  margin: 0;
}
.quotee-name::before {
  content: "- "
}
.quotee-name {
  margin-top: 0;
  padding-left: calc(0.5rem + 2ch);
  margin-bottom: 0.5rem;
}
